---
title: Case page
---
{% extends "layouts/_layout.html" %}

{% block content %}
	
	{% include "partials/_header.html" %}
	<div class="wrap">
		<div class="wrap__inner inner">
			<article class="article" data-scroll-trigger>
				<div class="article__topic row" data-anim-group='0.1' data-delay-anim="0.1">
					<div class="article__topic-col col col-6 col-sm-12">
						<h1 class="article__title-md title-md has-cube" data-anim="from-bottom">Westpac</h1>
					</div>
					<div class="article__topic-col col col-6 col-sm-12" data-anim="from-bottom">
						<div class="article__logo">
							<img src="./img/case-logo.svg" alt="case-logo">
						</div>
					</div>
				</div>
				<div class="article__disc row" data-anim-group='0.1' data-delay-anim="0.1">
					<div class="article__col-disc col col-4 col-sm-12" data-anim="from-bottom">
						<div class="label">DATE</div>
						<p>March 2020 – May 2020</p>
					</div>
					<div class="article__col-disc col col-4 col-sm-12" data-anim="from-bottom">
						<div class="label">SERVICES</div>
						<p>Website Design & Development</p>
					</div>
					<div class="article__col-disc col col-4 col-sm-12" data-anim="from-bottom">
						<div class="label">TEAM</div>
						<p>Kevin Jones, Martin Olsen</p>
					</div>
				</div>
				<img data-scroll-trigger='20' data-anim='from-bottom' src="./img/article-img-1.jpg" alt="article-img">
				<div class="article__row row" data-anim-group='0.1' data-delay-anim="0.1">
					<div class="article__col col col-6 col-sm-12">
						<h4 class="article__titleinfo titleinfo" data-anim="from-bottom">INTRO</h4>
						<h2 class="article__title title has-cube-dot" data-anim="from-bottom">Summary</h2>
						<div class="article__description" data-anim="from-bottom">The Conduct Risk Portal is a Ticket of Work system used by the Financial Crime Management division of Westpac to manage a wide portfolio of alerts including (but not limited to):</div>
					</div>
					<div class="article__col col col-6 col-sm-12" data-anim="from-bottom">
						<p>With the CRP, Westpac has standardised its approach to detecting and resolving fraud and other misconduct breaches, and has ensured consistent follow up and closure of alerts, reporting integrity, and a full audit trail.</p>
						<p>The CRP project originated as a lightweight project to serve a small number of low risk portfolios within the Financial Crime Management division. The tool was built in an agile manner allowing for a rapid deployment and iteration cycle.The high level of flexibility that the tool boasted quickly become the de-facto standard for risk alerting and UserCentric were involved in a joint effort together with Westpac in uplifting the tool to the highest level of their banking grade software - this involved.</p>
						<p>The high level of flexibility that the tool boasted quickly become the de-facto standard for risk alerting and UserCentric were involved in a joint effort together with Westpac in uplifting the tool to the highest level of their banking grade software - this involved.</p>
					</div>
				</div>
				<img data-scroll-trigger='20' data-anim='from-bottom' src="./img/article-img-2.jpg" alt="article-img">
				<div class="article__row row" data-anim-group='0.1' data-delay-anim="0.1">
					<div class="article__col col col-6 col-sm-12">
						<h4 class="article__titleinfo titleinfo" data-anim="from-bottom">DETAILS</h4>
						<h2 class="article__title title has-cube-dot" data-anim="from-bottom">Information</h2>
						<div class="article__description" data-anim="from-bottom">The Conduct Risk Portal is a Ticket of Work system used by the Financial Crime Management division of Westpac to manage a wide portfolio of alerts including (but not limited to):</div>
					</div>
					<div class="article__col col col-6 col-sm-12" data-anim="from-bottom">
						<p>With the CRP, Westpac has standardised its approach to detecting and resolving fraud and other misconduct breaches, and has ensured consistent follow up and closure of alerts, reporting integrity, and a full audit trail.</p>
						<p>The CRP project originated as a lightweight project to serve a small number of low risk portfolios within the Financial Crime Management division. The tool was built in an agile manner allowing for a rapid deployment and iteration cycle.The high level of flexibility that the tool boasted quickly become the de-facto standard for risk alerting and UserCentric were involved in a joint effort together with Westpac in uplifting the tool to the highest level of their banking grade software - this involved.</p>
						<p>The high level of flexibility that the tool boasted quickly become the de-facto standard for risk alerting and UserCentric were involved in a joint effort together with Westpac in uplifting the tool to the highest level of their banking grade software - this involved.</p>
					</div>
				</div>
			</article>	
		</div>
	</div>
	{% include "partials/_footer.html" %}

{% endblock %}
