<!-- begin hero.html -->
<div class="hero" data-scroll-trigger>
	<div class="hero__inner-lg inner-lg">
		<div class="hero__info"  data-anim-group='0.1' data-delay-anim="0.6">
			<div class="hero__info-title" data-anim="from-left">ABOUT US</div>
			<div class="hero__info-text" data-anim="from-left">SCROLL</div>
		</div>
		<div class="hero__inner inner">
			<div class="hero__content" data-anim-group='0.1' data-delay-anim="0.2">
				<h1 class="hero__title title-lg has-cube" data-anim="from-bottom">Delivery Focused.<span class="blue">Creatively Driven.</span></h1>
				<div class="hero__text" data-anim="from-bottom">We deliver digital products that transform businesses and markets.</div>
				<div class="hero__footer" data-anim="from-bottom">
					<a href="#" class="hero__btn btn">HIRE US{{ mixins.icon('arr') }}</a>
					<a href="#" class="hero__btn btn-simle">GET IN TOUCH</a>
				</div>
			</div>
			<div class="hero__img" data-anim-group='0.1' data-delay-anim="0.01">
				<img src="./img/hero-img.svg" alt="hero-img" data-anim="fade">
			</div>
		</div>
	</div>
	
</div>
<!-- end hero.html -->