<!-- begin service -->
<div class="service">
	<div class="service__inner inner js-sliders" data-scroll-trigger>
		<div class="service__sliderimg" data-anim-group='0.1' data-delay-anim="0.01">
			<div class="sliderimg js-slider-img">
				{% for i in range(0,5) %}
				<div class="sliderimg__slide"><img src="./img/slider-img.jpg" alt="slider-img"  data-anim="from-bottom"></div>
				{% endfor %}
			</div>
		</div>
		<div class="service__slidernav" data-anim-group='0.1' data-delay-anim="0.1">
			<div class="service__topic" data-anim="from-bottom">
				<div class="service__name">SERVICES</div>
				<div class="service__counter js-slider-nav-counter"></div>
			</div>
			<div class="slidernav js-slider-nav" data-anim="from-bottom">
				{% for i in range(0,5) %}
				<div class="slidernav__slide">
					<h2 class="slidernav__title title">Web Application Development</h2>
						<div class="slidernav__text">UserCentric builds mission-critical tools for government and enterprise clients who see digital as their competitive advantage. We leverage a modern best of breed technology stack and new techniques in AI to create world class platforms that power web, mobile and voice apps.</div>
						<div class="slidernav__footer">
							<a href="#" class="more">READ MORE{{ mixins.icon('arr') }}</a>
						</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
<!-- end service -->