<!-- begin whatwedo -->
<div class="whatwedo" data-scroll-trigger>
	<div class="whatwedo__inner inner" data-anim-group='0.1' data-delay-anim="0.1">
		<h4 class="whatwedo__titleinfo text-center"  data-anim="from-bottom"><div class="titleinfo">WHAT WE DO</div></h4>
		<h2 class="whatwedo__title title text-center has-cube-dot"  data-anim="from-bottom">How we can work with your teams</h2>
		<div class="whatwedo__items row">
			<div class="whatwedo__col col col-4 col-sm-12"  data-anim="from-bottom">
				<div class="whatwedo__wrap">
					<div class="whatwedo__img"><img src="./img/whatwedo-img-1.svg" alt="img"></div>
					<h4 class="whatwedo__title-sm">Integrate into existing teams</h4>
					<p>Where you require specific capability augmentation for your team, UserCentric can deploy staff for an agreed period of time, based on an agreed daily rate.</p>
				</div>
				<div class="whatwedo__footer">
					<a href="#" class="more">LEARN MORE {{ mixins.icon('arr') }}</a>
				</div>
			</div>
			<div class="whatwedo__col col col-4 col-sm-12"  data-anim="from-bottom">
				<div class="whatwedo__wrap">
					<div class="whatwedo__img"><img src="./img/whatwedo-img-2.svg" alt="img"></div>
					<h4 class="whatwedo__title-sm">Own a component of a program</h4>
					<p>UserCentric will deliver a component of a wider program of work, for example the visual design, or front end build.</p>
				</div>
				<div class="whatwedo__footer">
					<a href="#" class="more">LEARN MORE {{ mixins.icon('arr') }}</a>
				</div>
			</div>
			<div class="whatwedo__col col col-4 col-sm-12"  data-anim="from-bottom">
				<div class="whatwedo__wrap">
					<div class="whatwedo__img"><img src="./img/whatwedo-img-3.svg" alt="img"></div>
					<h4 class="whatwedo__title-sm">End-to-end project</h4>
					<p>UserCentric takes full accountability for the project (including application delivery if required), having agreed the scoping with you up front.</p>
				</div>
				<div class="whatwedo__footer">
					<a href="#" class="more">LEARN MORE {{ mixins.icon('arr') }}</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end whatwedo -->