<!-- begin workwithus -->
<div class="workwithus" data-scroll-trigger>
	<div class="workwithus__inner inner">
		<div class="workwithus__row row" data-anim-group='0.1' data-delay-anim="0.1">
			<div class="workwithus__col col col-6 col-sm-12">
				<div class="workwithus__titleinfo titleinfo titleinfo_mod" data-anim="from-bottom">WORK WITH US</div>
				<div class="workwithus__title title has-cube-dot" data-anim="from-bottom">Let’s work together to build something great</div>
				<div class="workwithus__footer" data-anim="from-bottom">
					<a href="#" class="workwithus__btn btn">HIRE US{{ mixins.icon('arr') }}</a>
					<a href="#" class="workwithus__btn btn-simle">GET IN TOUCH</a>
				</div>
			</div>
			<div class="workwithus__col col col-6 col-sm-12">
				<div class="workwithus__img"><img src="./img/workwithus-img.svg" alt="workwithus-img" data-anim="fade"></div>
			</div>
		</div>
	</div>
</div>
<!-- end workwithus -->